<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Berkeley ABA App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B437090D1D04DC7D004E0E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B43709231D04DC7D004E0E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B437092E1D04DC7D004E0E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
